<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mock="http://www.kotall.com/schema/mock-ext"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.kotall.com/schema/mock-ext
        http://www.kotall.com/schema/mock-ext.xsd">

    <mock:reference id="paymentService" interface="com.kotall.mock.PaymentService"/>

</beans>